body {
  font-family: Georgia, Garamond, serif;
  margin: 64px;
}
.home {
  text-align: center;
}
.home h1 {
}
.home img {
  margin: 16px;
  border: none;
}
.home h1 em {
  color: green;
}
.author {
  font-size: 8pt;
  color: gray;
}
.author a {
  color: green;
  text-decoration: none;
}
.author a:hover {
  color: #66cc66;
  text-decoration: underline;
}
.footnote {
  font-size: 8pt;
  color: gray;
}
a.gold {
  padding: 4px;
  font-weight: bold;
  color: gold;
}
a.gold:hover {
  background-color: gold;
  color: black;
}
a.rainbow {
  padding: 4px;
  font-weight: bold;
}
a.rainbow:hover {
  background-color: #cceeff;
  color: black;
}
.rainbow-1 {color: #cc6666;}
.rainbow-2 {color: #cc9966;}
.rainbow-3 {color: #cccc99;}
.rainbow-4 {color: #66cc99;}
.rainbow-5 {color: #66cc66;}
.rainbow-6 {color: #6666cc;}
.rainbow-7 {color: #cc66cc;}
