<html>
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# postasokoban: http://ogp.me/ns/fb/postasokoban#">
  <title>the posta sokoban</title>
  <meta property="fb:app_id" content="359179634160046" /> 
  <meta property="og:type"   content="postasokoban:level" /> 
  <meta property="og:url"    content="http://www.coffey.com.ar/postasokoban/?number={{ number }}&movecount={{ movecount }}" />
  <meta property="og:title"  content="Level {{ number }}" /> 
  <meta property="og:image"  content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" /> 
  <meta property="postasokoban:number"  content="{{ number }}" /> 
  <meta property="postasokoban:movecount"  content="{{ movecount }}" /> 
</head>

<body>
Level {{ number }} ({{ movecount }} moves)
</body>
</html>
