body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	background: #ccc;
	margin: 0 auto;
	width: 760px;
}
#container {
	padding: 0;
	margin: 0;
	width: 760px;
}
.match {
	padding: 0;
	margin: 0;
	font-size: 11pt;
	clear: both;
	display: block;
}
.match:hover {
	background: #eee;
}
.flag {
	width: 36px;
	height: 24px;
	margin: 2px;
	padding: 0;
	float: left;
	border: 1pt solid #ccc;
}
.trigram {
	width: 34px;
	height: 18px;
	margin: 5px;
	padding: 0;
	float: left;
	text-align: center;
}
.team {
	width: 86px;
	height: 30px;
	float: left;
}
.scoreboard {
	width: 66px;
	height: 30px;
	margin: 0;
	padding: 0;
	float: left;
}
.score {
	width: 24px;
	height: 24px;
	padding: 0;
	margin: 2px 0;
	border: solid #ccc 1px;
	font-family: inherit;
	font-size: inherit;
	text-align: center;
	outline: none;
}
#fixture .wrapper {
	overflow: scroll;
	margin: 10px;
	padding: 0;
	width: 732px;
	height: 210px;
	float: left;
	clear: both;
}
.groups-stage {
	width: 2032px;
	float: left;
	clear: both;
	background: #ddd;
}
.second-stage {
	float: left;
	clear: both;
	width: 674px;
	background: #fff;
	padding: 0 8px;
	margin: 0 36px;
}
.group-matches {
	width: 238px;
	padding: 4px;
	margin: 4px;
	float: left;
	background: #fff;
}
.group-matches .match {
	width: 238px;
	height: 30px;
}
.second-stage .match {
	width: 86px;
	height: 90px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#match-48, #match-49, #match-52, #match-53, #match-56, #match-57, #match-60 {
	border-right: 1px solid black;
}
#match-50, #match-51, #match-54, #match-55, #match-58, #match-59, #match-61 {
	border-left: 1px solid black;
}
#match-62 {
	border: 1px solid black;
}
.round-of-16, .quarters, .semifinals, .finals {
	width: 87px;
	padding: 0;
	margin: 0;
	float: left;
	background: #fff;
}
.finals {
	width: 152px;
}
.finals .team {
	width: 42px;
}
.round-of-16 .scoreboard, .quarters .scoreboard, .semifinals .scoreboard {
	clear: both;
	margin: 0 10px;
}
.round-of-16 .match {
	margin: 10px 0;
}
.quarters .match {
	margin: 60px 0;
	padding: 15px 0;
}
.semifinals .match {
	margin: 120px 0;
	padding: 50px 0;
}
#match-63 {
	width: 150px;
	height: 60px;
	margin: 184px 0 0 0;
	padding: 0 1px;
}
#match-62 {
	width: 150px;
	height: 60px;
	margin: 100px 0 0 0;
}
.tabs li {
	display: block;
	float: left;
	margin: 0 10px;
	font-size: 11pt;
}
.tabs li a {
	display: block;
	padding: 10px;
	width: 180px;
	text-align: center;
	text-decoration: none;
	color: black;
	background: #ddd;
	border-radius: 8px 8px 0 0;
}
.tabs li a.tab-on, .tabs li a:hover {
	background: #eee;
}
.panel {
	width: 752px;
	margin: 0;
	padding: 4px;
	float: left;
	background: #eee;
	border-radius: 8px;
	display: none; /* shown on dom ready */
}
.clear {
	clear: both;
}
.controls {
	clear: both;
	padding: 20px 0 0 0;
	text-align: center;
}
.action {
	width: 120px;
	padding: 16px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	border-radius: 6px;
	color: #6c9;
	background: white;
}
.action:hover {
	color: white;
	background: #6c9;
}
#status {
	text-align: center;
	font-size: 10pt;
	color: #999;
}
#status.error {
	color: red;
}
#guess .box {
	width: 150px;
	float: left;
	margin: 4px;
	padding: 4px;
	text-align: center;
	background: #ddd;
}
#guess .sub {
	padding: 8px;
	color: white;
	background-color: #6c9;
	font-size: 10pt;
}
.guessdata {
	margin: 8px 0 0 0;
	padding: 8px;
	background: white;
}
.guessdata span {
	display: block;
	text-align: center;
}
.guessdata span:last-child {
	color: #ccc;
	font-size: 10pt;
}
.guesses {
	font-size: 24pt;
	padding: 8px;
}
#guess .totalbox {
	width: 126px;
	height: 122px;
	float: left;
	margin: 4px;
	padding: 16px;
	font-size: 12pt;
	color: white;
	background-color: #6c9;
	text-align: center;
}
#guess .total {
	font-size: 36pt;
	display: block;
	padding: 20px;
}
#challenge ul {
	height: 300px;
	overflow: scroll;
	padding: 0;
	margin: 0;
	background: #eee;
}
#leaderboard {
	width: 600px;
}
#challenge ul li {
	padding: 0;
	margin: 1px;
	list-style-type: none;
}
#challenge ul img {
	width: 50px;
	height: 50px;
	float: left;
}
#challenge ul a {
	height: 20px;
	display: block;
	background: white;
	padding: 15px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
#challenge ul a:hover, #challenge ul a.selected {
	color: white;
	background: #6c9;
}
#challenge .wrapper {
	float: left;
	background: #ddd;
	padding: 4px;
}
#challenge .wrapper p {
	text-align: center;
}
#invitable-box {
	width: 340px;
	margin: 10px 180px;
}
#leader-box {
	width: 600px;
	margin: 10px 70px;
}
#leaderboard a span {
	width: 120px;
	display: inline-block;
	text-align: center;
	float: right;
}
.footer {
	padding: 32px 0;
	clear: both;
	color: #333;
	font-size: 10pt;
	text-align: center;
}
.footer a {
	text-decoration: none;
	color: #396;
}
