body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	background: #ccc;
	margin: 0 auto;
	width: 760px;
	min-height: 1750px;
}
#container {
	padding: 0;
	margin: 0;
	width: 760px;
}
.match {
	width: 240px;
	padding: 0;
	margin: 0;
	font-size: 11pt;
	float: left;
	clear: both;
	display: block;
}
.groups-stage .wrapper {
	float: left;
}
.groups-stage .wrapper:hover {
	background: #dfe;
}
.second-stage .match {
	float: left;
}
.second-stage .match:hover {
	background: #dfe;
}
.flag {
	width: 36px;
	height: 24px;
	margin: 2px;
	padding: 0;
	float: left;
	border: 1pt solid #ccc;
}
.right .flag {
	float: right;
}
.friend-pred .flag {
	float: none;
	margin: 0 8px;
	vertical-align: middle;
}
.trigram {
	min-width: 30px;
	height: 18px;
	margin: 5px;
	padding: 0;
	float: left;
	text-align: center;
}
.second-stage .trigram {
	width: 30px;
}
.right .trigram {
	float: right;
}
.team {
	width: 86px;
	height: 30px;
	padding: 0;
	margin: 0;
	float: left;
}
.scoreboard {
	height: 30px;
	margin: 0;
	padding: 0;
	float: left;
}
.score {
	width: 22px;
	height: 24px;
	padding: 0;
	margin: 2px 0;
	border: solid #ccc 1px;
	font-family: inherit;
	font-size: inherit;
	text-align: center;
	outline: none;
}
.score.past {
	border: solid transparent 1px;
	background-color: #f3f3f3;
}
.score.guess {
	border: solid transparent 1px;
	background-color: #ffc;
}
.score.exact {
	border: solid transparent 1px;
	background-color: #9fc;
}
.details .score {
	border: solid transparent 1px;
}
.groups-stage {
	float: left;
	clear: both;
	background: #ddd;
}
.second-stage {
	float: left;
	clear: both;
	width: 700px;
	background: #fff;
	padding: 0 8px;
}
#fixture .second-stage {
	margin: 0 20px;
}
.location {
	float: left;
	width: 110px;
	height: 32px;
	padding: 2px 4px;
	font-size: 8pt;
	text-align: center;
}
.label {
	text-align: center;
	margin: 0;
	padding: 6px;
	background-color: #6c9;
	font-size: 8pt;
	letter-spacing: 4px;
	font-weight: bold;
}
.second-stage .label {
	margin-top: 8px;
}
.match-info {
	clear: both;
	text-align: center;
	font-size: 10pt;
}
.group-matches {
	width: 360px;
	padding: 4px;
	margin: 4px;
	float: left;
	background: #fff;
}
.group-matches .match {
	height: 30px;
	margin: 3px 0;
	clear: none;
}
.second-stage .match {
	width: 89px;
	height: 90px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.second-stage .location {
	display: none;
}
.match-48, .match-49, .match-52, .match-53, .match-56, .match-57, .match-60 {
	border-right: 1px solid black;
}
.match-50, .match-51, .match-54, .match-55, .match-58, .match-59, .match-61 {
	border-left: 1px solid black;
}
.match-62 {
	border: 1px solid black;
}
.round-of-16, .quarters, .semifinals, .finals {
	width: 90px;
	padding: 0;
	margin: 0;
	float: left;
	background: #fff;
}
.finals {
	width: 152px;
}
.finals .team {
	width: 42px;
}
.round-of-16 .scoreboard, .quarters .scoreboard, .semifinals .scoreboard {
	clear: both;
	margin: 0 10px;
}
.round-of-16 .match {
	margin: 10px 0;
}
.quarters .match {
	margin: 52px 0;
	padding: 15px 0;
}
.semifinals .match {
	margin: 132px 0;
	padding: 50px 0;
}
.finals .match-63 {
	width: 150px;
	height: 60px;
	margin: 200px 0 0 0;
	padding: 0 1px;
}
.finals .match-62 {
	width: 150px;
	height: 60px;
	margin: 100px 0 0 0;
}
.tabs li {
	display: block;
	float: left;
	margin: 0 10px;
	font-size: 11pt;
}
.tabs li a {
	display: block;
	padding: 10px;
	width: 180px;
	text-align: center;
	text-decoration: none;
	color: black;
	background: #ddd;
	border-radius: 8px 8px 0 0;
}
.tabs li a.tab-on, .tabs li a:hover {
	background: #eee;
}
.panel {
	width: 752px;
	margin: 0;
	padding: 4px;
	float: left;
	background: #eee;
	border-radius: 8px;
	display: none; /* shown on dom ready */
}
.clear {
	clear: both;
}
.controls {
	clear: both;
	padding: 10px 0;
	text-align: center;
}
.action {
	margin: 0 8px;
	width: 120px;
	padding: 16px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	border-radius: 6px;
	color: #6c9;
	background: white;
}
.action:hover {
	color: white;
	background: #6c9;
}
#status {
	text-align: center;
	font-size: 10pt;
	color: #999;
}
#status.error {
	color: red;
}
/*
#guess .box {
	width: 150px;
	float: left;
	margin: 4px;
	padding: 4px;
	text-align: center;
	background: #ddd;
}
#guess .sub {
	padding: 8px;
	color: white;
	background-color: #6c9;
	font-size: 10pt;
}
.guessdata {
	margin: 8px 0 0 0;
	padding: 8px;
	background: white;
}
.guessdata span {
	display: block;
	text-align: center;
}
.guessdata span:last-child {
	color: #ccc;
	font-size: 10pt;
}
.guesses {
	font-size: 24pt;
	padding: 8px;
}
#guess .totalbox {
	width: 126px;
	height: 122px;
	float: left;
	margin: 4px;
	padding: 16px;
	font-size: 12pt;
	color: white;
	background-color: #6c9;
	text-align: center;
}
#guess .total {
	font-size: 36pt;
	display: block;
	padding: 20px;
}
*/
#challenge .wrapper {
	background: #ddd;
	padding: 4px;
	margin: 8px;
}
#howto .wrapper {
	background: #fff;
	padding: 16px;
	margin: 16px;
	font-size: 11pt;
}
#challenge .wrapper p {
	text-align: center;
}
#challenge table {
	width: 100%;
	font-size: 10pt;
}
#challenge thead {
	background-color: #6c9;
}
#challenge tbody {
	background-color: white;
}
#challenge tr {
	height: 50px;
}
#challenge tbody tr:hover {
	background-color: #dfe;
}
#challenge td {
	text-align: center;
	margin: 0;
	padding: 0;
}
#challenge .friend-name {
	text-align: left;
}
#challenge .friend-name img {
	vertical-align: middle;
	margin-right: 8px;
}
.footer, .autofill, .reset {
	padding: 8px 0;
	clear: both;
	color: #333;
	font-size: 10pt;
	text-align: center;
}
.footer {
	padding: 32px 0;
}
.footer a, #challenge a, .autofill a, .reset a, #howto a {
	text-decoration: none;
	color: #396;
}
#tooltip {
      position: absolute;
      width: 220px;
      padding: 10px;
      font-size: 10pt;
      text-align: center;
      color: black;
      background: #dfe;
      border: 3px solid #dfe;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px 0px;
}
#tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent #dfe transparent;
      top: -16px;
      left: 114px;
}
.tweet-button {
	display: inline-block;
	width: 55px;
	height: 21px;
	background-image: url(http://platform.twitter.com/widgets/images/tweet.dfbf1dd98bad9f5b5addd80494650dca.png);
	background-position: 0 0;
}
.tweet-button:hover {
	background-position: 0 -21px;
}
